.row
  .col-xs-12
    %h1= @task.new_record? ? t('tasks.new_task') : t('tasks.edit_task')

    = simple_form_for [:my, @task] do |f|
      = f.input :name
      = f.input :description
      = f.input :file

      = f.submit t('tasks.save_task'), class: 'btn btn-success'
