.row
  .col-xs-12
    %h1= @task.new_record? ? t('tasks.new_task') : t('tasks.edit_task')

    = simple_form_for [:my, @task] do |f|
      = f.input :name
      = f.input :description
      = f.input :file
      - if current_user.admin?
        = f.input :user_id, collection: User.all, value_method: :id, label_method: :email

      = f.submit t('tasks.save_task'), class: 'btn btn-success'
